# Core Data Science
pandas
numpy
matplotlib
seaborn
scikit-learn

# Deep Learning & Forecasting
torch
pytorch-lightning
pytorch-forecasting

# Jupyter & Notebooks
jupyter
ipykernel
nbformat

# Utils & Crawling
python-dotenv
requests
